body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #fbd3e9, #bb377d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffa7ec;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* ширина окна браузера */
    height: 100vh; /* высота окна браузера */
    z-index: 1;
    pointer-events: none;
  }
  

  